name: Deploy to AWS CodeDeploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Zip deployment files
        run: zip -r app-v1.zip index.html appspec.yml scripts/

      - name: Upload to S3
        run: aws s3 cp app-v1.zip s3://mg-codedeploy-revisions/app-v1.zip

      - name: Deploy to CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name mg-app-deploy \
            --deployment-group-name mg-deploy-group \
            --s3-location bucket=mg-codedeploy-revisions,key=app-v1.zip,bundleType=zip

